@media only screen and (max-width: 550px) {
  html {

    body {

      text-align: left;

      #nav-icon2 {
        background: #bcbcbc;
        height: 100%;
        width: 100%;

        #bar1 {
          width: 4rem;
          height: .6em;
          background-color: #fff;
          margin: 1em 0em 0.9em 1em;
          border-radius: 4px;
        }
        #bar2 {
          width: 4rem;
          height: .6em;
          background-color: #fff;
          margin: 1em 0em 0.9em 1em;
          border-radius: 4px;
        }
        #bar3 {
          width: 4rem;
          height: .6em;
          background-color: #fff;
          margin: 1em 0em 0.9em 1em;
          border-radius: 4px;
        }

        #search{
          float: right;
          margin: -4.5em .5em 0em 0em;
          border-radius: 8px;
          background: #bcbcbc;
          background: url("../searchicon.PNG");
          background-repeat: no-repeat;
          background-position: right;
          border:2px solid white;
          height:2em;
          width: 40%;
          display: inline-block!important;
          color: white;
        }
      }
      #nav {
          display: none;
      }

      #header3{
        font-size: 1.6em;
        text-align: left;
        margin: 2% 6% 0% 6%;
      }
      #h2{
        font-size: 1.2em;
        font-weight: inherit;
        margin-top: 1em;
        text-align: left;
        margin: 2% 6% 0% 6%;
      }

      #section1 {
        margin:0%;

        #regform {
          margin-top: 1rem;
          font-weight: normal;
          margin: 4% 6% 0% 6%;
        }

        #form{
          box-shadow:none;
          /*width: 100%;
          align:left;
          display: block !important;*/
          margin-left: 27px;
          display: block;
          padding: 0;

          #name{
            font-weight: normal;
          }

          #font-name{
            height: 1.2em;
            width: 60%;
            margin: 1.5% 0% 1.5% 0%;
          }

          #email{
            font-weight: normal;
          }

          #font-email{
            height: 1.2em;
            width: 60%;
            margin: 1.5% 0% 1.5% 0%;
          }

          #dob{
            display: -webkit-box;

          }
          #sel-dob{
            margin: 1.5% 0% 0% 0%;
            width: 30%;
            text-align: center
          ;
          }
          #sel-day{
            margin: 1.5% 2.8% 0% 2.8%;
            width: 25%;
            text-align: center
          }
          #sel-year{
          margin: 1.5% 0% 0% 0%;
          width: 25%;
            text-align: center
          }
          #gender{
            font-size: 1.5em;
            margin: 5% 2% 0% 0%;
          }
          #radio{
            margin:1em 0em 0em 0em;
          }
          .control {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 18px;
          }
          .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }
          .control__indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: #e6e6e6;
          }
          .control--radio .control__indicator {
            border-radius: 50%;
          }
          .control:hover input ~ .control__indicator,
          .control input:focus ~ .control__indicator {
            background: #ccc;
          }
          .control input:checked ~ .control__indicator {
            background: #e0e0e0;
          }
          .control:hover input:not([disabled]):checked ~ .control__indicator,
          .control input:checked:focus ~ .control__indicator {
            background: #e0e0e0;
          }
          .control__indicator:after {
            content: '';
            position: absolute;
            display: none;
          }
          .control input:checked ~ .control__indicator:after {
            display: block;
          }
          .control--checkbox input:disabled ~ .control__indicator:after {
            border-color: #7b7b7b;
          }
          .control--radio .control__indicator:after {
            left: 6px;
            top: 6px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: #ff4f00;
          }
          .control--radio input:disabled ~ .control__indicator:after {
            background: #7b7b7b;
          }

          #button{
            float: left;
            font-weight: normal;
            padding: 9px 32px;
            margin-top: 5rem;
          }

        }

        #cards{
          margin-bottom: 0;
          text-align: right;
          margin-right: -5em;
          margin-top: -2rem;
          float: right;

        }
      }
      #footer-main {
        #section-footer{


        #footer-section1 {
          font-size: 1.2rem;
          text-align: center;
          display: block !important;
          margin-left: 0;
          padding: 0;

          #sect1a {
            color: white;
            text-decoration: none;
            font-family: Arial;
            font-size: 1.2em;

          }
          #sect2a {
            display: none;
          }
          #sect3a {
            display: none;
          }
          #sect4a {
            display: none;
          }
          #sect5a {
            display: none;
          }
        }
          .line1{
            width:343px;
            border: 1px solid #358968 !important;
            margin: auto;
            display: block !important;
          }

        #footer-section2 {
          font-size: 1.2rem;
          text-align: center;
          display: block !important;
          margin-left: 0;
          margin-top: 33px;
          padding: 0;

          #sect1b {
            color: white;
            text-decoration: none;
            font-family: Arial;
            font-size: 1.2em;
          }
          #sect2b {
            display: none;
          }
          #sect3b {
            display: none;
          }
          #sect4b {
            display: none;
          }
          #sect5b {
            display: none;
          }
        }
        .line2{
        width: 343px;
        border: 1px solid #358968 !important;
        margin: auto;
          display: block !important;
        }

        #footer-section3 {
          font-size: 1.2rem;
          text-align: center;
          display: block !important;
          margin-top: 37px;
          margin-left: 0!important;
          padding: 0;

          #sect1c {
            color: white;
            text-decoration: none;
            font-family: Arial;
            font-size: 1.2em;

          }
          #sect2c {
            display: none;
          }
          #sect3c {
            display: none;
          }
          #sect4c {
            display: none;
          }
          #sect5c {
            display: none;
          }
        }

        .line3{
          width: 343px;
          border: 1px solid #358968;
          margin: auto;
          display: block !important;
        }

        #footer-section4 {
          font-size: 1.2rem;
          text-align: center;
          display: block !important;
          margin-top: 37px;
          margin-left: 0!important;
          padding: 0;
          #sect1d {
            color: white;
            text-decoration: none;
            font-family: Arial;
            font-size: 1.2em;

          }
          #sect2d {
            display: none;
          }
          #sect3d {
            display: none;
          }
          #sect4d {
            display: none;
          }
          #sect5d {
            display: none;
          }
        }
        .line4{
          width: 343px;
          border: 1px solid #358968;
          margin: auto;
          display: block !important;
        }
      }
    }

    }
  }
}
